.article1{
  background: green;
  position: relative;
  overflow: auto;
}

.img1{
  display: inline-block;
  width: 49%;
  border: 5px solid blue;
}

.article2{
  display: inline-block;
  width: 50%; 
  border: 5px solid black;
}

.a1{
  position: absolute;
  right:0;
  bottom:0;
}
