.dps_post_template{
  background: green;
  position: relative;
  overflow: auto;
}

.dps_post_thumbnail{
  float: left;
  width: 49%;
  border: 5px solid blue;
}

.dps_post_title{
  clear: none;
}

.dps_post_url{
  position: absolute;
  right:0;
  bottom:0;
}

